:root {
    --mainColor : #f1eee5;
    --secondaryColor : #550964;
    --acsentColor2 : #9470C2;
    --acsentColor : #6e6d7b;
    --acsentColor3 : #B2A3BA;
}

body{
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'poppins', 'sans-serif';
    font-size: 17px;
    margin-top: 60px;
    min-height: calc(100vh + 900px);
}

section h1{
  color: var(--secondaryColor);

}

/* Navbar */
.navbar.fixed-top{
  background-color: var(--mainColor);
  /* opacity: 70%; */
}

.navbar-nav{
  margin-top: 10px;
}

.container {
    justify-content: left !important;
    font-size: 1.2rem;
    margin-left: 50px;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      justify-content: left !important;
    }
  }

.nav-link{
  white-space: nowrap;
}

.nav-link.active{
    color: var(--secondaryColor) !important;
    font-weight: bolder;
}
/* End Navbar */

/* Hero */
.container2{
  justify-content: center !important;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}

@media only screen and (max-width: 768px) {
  .container {
    justify-content: left !important;
  }
}

.color-acsent{
  color: var(--acsentColor2);
  font-weight: bolder !important;
}

#hero{
  margin-top: 200px;
  min-height: 100vh;
  text-align: center;
  justify-content: center !important;
  align-items: center;
  position: relative;
  z-index: 2;
}

#hero h1{
  font-size: 3.2rem;
  text-align: center;
}

#hero h2{
  font-weight: 500;
  text-align: center;
}

#hero p{
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

/* Button */
.btn-custom1{
  background-color: var(--secondaryColor);
  text-align: center;
  color: var(--mainColor);
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
  align-self: center;
  margin: auto;
}

.btn-custom1:hover{
  box-shadow: 0 0 5px rgba(33, 4, 61, 0.8);
  color: var(--acsentColor2);
}

/* End Hero */


/* About Section */

#about{
  background: var(--acsentColor3);
  padding: 5%;
  margin-top: -22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1 !important;
}

.pict{
  width: 10%;
  margin-top: -11%;
  margin-bottom: 2%;
  align-self: center;
}

#about p{
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--secondaryColor);
  margin-top: 2%;
}

.quote1 {
  position: absolute;
  left: 15%; 
  top: 25%;
  height: 10%;
}

.quote2 {
  position: absolute;
  right: 20%; 
  bottom: 20%;
  height: 10%;
}
/* End About Section */