:root {
    --mainColor : #f1eee5;
    --secondaryColor : #550964;
    --acsentColor2 : #9470C2;
    --acsentColor : #6e6d7b;
}

body{
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'poppins', 'sans-serif';
    font-size: 17px;
    margin-top: 60px;
}

section h1{
  color: var(--secondaryColor);

}

/* Navbar */
.navbar.fixed-top{
  background-color: var(--mainColor);
  /* opacity: 70%; */
}

.navbar-nav{
  margin-top: 10px;
}

.container {
    justify-content: left !important;
    font-size: 1.2rem;
    margin-left: 50px;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      justify-content: left !important;
    }
  }

.nav-link{
  white-space: nowrap;
}

.nav-link.active{
    color: var(--secondaryColor) !important;
    font-weight: bolder;
}
/* End Navbar */

/* Hero */

.color-acsent{
  color: var(--acsentColor2);
  font-weight: bolder !important;
}

#hero{
  margin-top: 180px;
  min-height: 100vh;
  margin-left: 200px;

}

#hero h1{
  font-size: 3.2rem;
}

#hero h2{
  font-weight: 300;
}

#hero p{
  font-size: 1.4rem;
  font-weight: 300;
}

/* Button */
.btn-custom1{
  background-color: var(--secondaryColor);
  text-align: center;
  color: var(--mainColor);
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
}

.btn-custom1:hover{
  box-shadow: 0 0 5px rgba(33, 4, 61, 0.8);
  color: var(--acsentColor2);
}

.col-md-5{
  float: right;
  margin-top: -500px;
  margin-right: -200px;
  /* min-height: 10vh; */
}

/* .clearfix::after {
  content: "";
  display: table;
  clear: both;
} */

/* End Hero */